<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="No more gift brainstorming! What your friends want, quick and easy.">

    <title>GiftGenie</title>

    


<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">



<!--[if lte IE 8]>
  
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
  
<![endif]-->
<!--[if gt IE 8]><!-->
  
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  
<!--<![endif]-->



<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">



  
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="css/layouts/marketing.css">
    <!--<![endif]-->
<style>
#name{font-size: 45px;}
</style>  
</head>
<body>
<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">GiftGenie</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Home</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">About Us</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Login with Facebook</a></li>
        </ul>
    </div>
</div>
<br>
<br>
<div>
<p id="name">Britney</p>
<br>
<br>
<br>
<p>Suggested Gifts:<br>
<a href="http://www.amazon.com/s/ref=nb_sb_noss/175-9352251-9552921?url=search-alias%3Daps&field-keywords=star+wars">Star Wars Movies</a><br>
<a href="http://www.amazon.com/s/ref=nb_sb_noss_2?url=search-alias%3Daps&field-keywords=unicorn+books&rh=i%3Aaps%2Ck%3Aunicorn+books">Unicorn Books</a><br>
<a href="http://www.amazon.com/s/ref=nb_sb_noss_2?url=search-alias%3Daps&field-keywords=ponies&rh=i%3Aaps%2Ck%3Aponies">Ponies</a><br>
<a href="http://www.amazon.com/s/ref=nb_sb_noss_2?url=search-alias%3Daps&field-keywords=coke&rh=i%3Aaps%2Ck%3Acoke">Coke</a><br>
<a href="http://www.amazon.com/s/ref=nb_sb_noss_1?url=search-alias%3Daps&field-keywords=skittles&rh=i%3Aaps%2Ck%3Askittles">Skittles</a>
</p>


<p>Birthday: 06/01/1979</p>

<p>Interaction Rating: 4.9/5</p>
</div>


</body>
</html>
