<!DOCTYPE html>

<html>

<head>
	<meta charset="utf-8">
	<title>Categories</title>
	<script type="text/javascript" src="http://localhost:8080/friends"></script>
	<script id="jq" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<link id="jq_css" rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
	<script id="jq_ui" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
</head>

<body>
	<input type="button" id="driver" value="Load Data" />

	<div id="categories">
	</div>
    
  <p id="object" style="visibility: hidden">{{id}}</p>

	<script type="text/javascript" language="javascript">
        var personId = document.getElementById("object").innerHTML;
        alert(personId);

        $(document).ready(function() {
                $("#driver").click(function(event){
                    $.getJSON('example.json', function(jd) {
                        var ourPerson = {
                          id: personId,
                          name: "",
                          cat_likes: {},
                          /*cat_freqs: {},
                          top_five: {}*/
                        }

                        for (x = 0; x < jd['data'].length; x++) {
                          var curr = jd['data'][x];
                          if (ourPerson.id == curr.id) {
                            ourPerson.name = curr.name;
                            for (y = 0; y < jd['data'][x].likes['data'].length; y++) { //creates category-like pairs in the appropriate array
                              ourPerson.cat_likes[jd['data'][x].likes['data'][y].category] = jd['data'][x].likes['data'][y].name;
                            }

                            /*for (y = 0; y < jd['data'][x].likes['data'].length; y++) { //initializes freqs to 0
                              ourPerson.cat_freqs[jd['data'][x].likes['data'][y].category] = 0;
                            }

                            for (y = 0; y < cat_freqs.length; y++) { //o(n^2) frequency tallier
                              for (z = 0; z < cat_freqs.length; z++) {
                                ourPerson.cat_freqs[jd['data'][x].likes['data'][z].category]++;
                              }
                            }

                            for (z = 0; z < 5; z++) {
                              for (a = 0; a < cat_freqs.length; a++) {

                                ourPerson.top_five[z] = 
                              }
                            }*/
                            
                          }
                        }


                        for (i = 0; i < jd['data'].length; i++) {
                          $('#categories').append('<h1> ' + jd['data'][i].name + '</h1>');
                          var obj = jd['data'][i].likes;
                          if (typeof obj === "undefined") {
                            $('#categories').append('<p> He/she hasn\'t liked anything </p>');
                          } else {
                            for (j = 0; j < jd['data'][i].likes['data'].length; j++) {
                                $('#categories').append('<p class=""> ' + jd['data'][i].likes['data'][j].category + '</p>');
                            }

                          }
                        }
                        $( "#categories" ).accordion("destroy").accordion();
                    });
               });
         });
    </script>
    <script>
   		$( "#categories" ).accordion();
	</script>
</body>

</html>